{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="page-title">{{ title }}</h1>
<div class="post-meta">
    <span class="post-date">发布时间：{{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
    {% if post.updated_at and post.updated_at != post.created_at %}
    <span class="post-date">· 最后修改：{{ post.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
    {% endif %}
</div>
<div>{{ content|safe }}</div>
{% if not post.is_page and post.tags %}
<div class="post-meta">
    <span class="post-tags">标签：
        {% for tag in post.tags %}
            <a href="{{ url_for('tag', name=tag.name) }}" class="tag">#{{ tag.name }}</a>
        {% endfor %}
    </span>
</div>
{% endif %}
{% endblock %}
